<div class="navbar navbar-info">
    <div class="navbar-header">
        {{#link-to 'events' class="navbar-brand navbar-left"}}
        <i class="mdi-navigation-arrow-back"></i>
        <div class="ripple-wrapper"></div>
        {{/link-to}}
        <span class="navbar-brand navbar-left ellipsis">{{model.name}}</span>

        <a {{action "cancelEventConfirm" model.id}} rel="nofollow" class="navbar-brand navbar-right"><i class="mdi-notification-sms-failed"></i></a>
        <a {{action "removeEventConfirm" model.id}} rel="nofollow" class="navbar-brand navbar-right"><i class="mdi-content-remove-circle"></i></a>
    </div>
</div>
<div class="event-detail">
    <div class="jumbotron RemoveDiv">
        <p><i class="mdi-alert-warning"></i> Do you really want to delete this match?</p>
        <a {{action "hideRemoveDiv"}} class="btn btn-default btn-raised">no</a>
        <a {{action "removeEvent" model.id}} rel="nofollow" class="btn btn-danger btn-raised">Yes, delete</a>
    </div>
    <div class="jumbotron CancelDiv">
        {{#if model.canceled}}
        <p><i class="mdi-alert-warning"></i> Do you really want to uncancel this match?</p>
        <a {{action "hideCancelDiv"}} class="btn btn-default btn-raised">no</a>
        <a {{action "uncancelEvent" model.id}} rel="nofollow" class="btn btn-danger btn-raised">Yes, uncancel</a>
        {{else}}
            <p><i class="mdi-alert-warning"></i> Do you really want to cancel this match?</p>
            <a {{action "hideCancelDiv"}} class="btn btn-default btn-raised">no</a>
            <a {{action "cancelEvent" model.id}} rel="nofollow" class="btn btn-danger btn-raised">Yes, cancel</a>
        {{/if}}
    </div>
    {{#link-to 'event.share' model.id class="sharebutton btn btn-fab btn-raised mdi-social-share"}}{{/link-to}}
    {{#link-to 'event.lineup' model.id class="lineupbutton btn btn-default btn-fab btn-raised mdi-action-grade"}}{{/link-to}}
    <div class="mapsubsitute">
    </div>
    <a href="{{model.google_maps_link}}" target="_new"><img src="https://maps.googleapis.com/maps/api/staticmap?center={{model.location}}&zoom=15&scale=false&size=1000x200&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:blue%7Clabel:1%7C{{model.location}}" class="mapimage"></a>
    <div class="well"  {{bind-attr data-canceled=model.canceled}}>
        <div class="list-group">
            <div class="list-group-item list-group-item-heading">
                {{#if isEditingName}}
                    {{input id="input-heading" value=bufferedName escape-press='cancelEditingName' focus-out='doneEditingName' insert-newline='doneEditingName' placeholder="Name" class="form-control input-heading" autocomplete="off"}}
                {{else}}
                <h2  {{action 'startEditingName'}}>{{model.name}}</h2>
                {{/if}}
                <div class="list-group-left"><p class="list-group-bellowheading"><small>{{model.evdate_str}}</small></p></div>
                <div class="list-group-right"><p class="list-group-bellowheading"><small>{{model.evdate_dif}}</small></p></div>
            </div>
            <div class="detail-counter">
                <h3><center>{{model.registrations.length}}
                    {{#if isEditingMax}}
                        <span class="h3mini">/
                            {{input id="inputMax" type="number" value=bufferedMax escape-press='cancelEditingMax' focus-out='doneEditingMax' insert-newline='doneEditingMax' placeholder="16" class="form-control" autocomplete="off"}}
                        </span>
                    {{else}}
                    <span class="h3mini" {{action 'startEditingMax'}}>/{{model.max_att}}</span>
                    {{/if}}
                </center></h3>
            </div>
            <div class="progress">
                <div {{bind-attr class=model.bar_color style=model.bar_width}}></div>
                <div class="progress-bar progress-bar-danger" {{bind-attr style=model.overbooked_with}}></div>
            </div>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                {{#if model.canceled}}
                <p class="list-group-item-text">+ + + + + + CANCELED + + + + + </p>
                {{else}}
                    {{#if isEditingDesc}}
                        {{textarea value=bufferedDesc  escape-press='cancelEditingDesc' focus-out='doneEditingDesc' class="form-control desc-textarea"}}
                    {{else}}
                        <p class="list-group-item-text" {{action 'startEditingDesc'}}>{{model.description}}</p>
                    {{/if}}
                {{/if}}

                {{#if model.weather}}
                <table class="weather">
                    <tr>
                        <td class="temp_img"><img src="{{model.weather_temperature_icon}}"></td>
                        <td class="temperature">{{model.weather_temperature}}°</td>
                        <td><img {{bind-attr src=model.weather_icon}}></td>
                        <td class="weatherDescription">{{model.weather}}, <br>sunset at {{model.sunset}}</td>

                        <!--td class="weatherWindSpeed"><span class="wws_fig">{{model.weather_wind_speed}}</span><span class="wws_text">km/h<br>Wind</span></td>
                        <td class="turf"><img src="/icons/artificialturf.png"></td>
                        <td>Artificial<br>Turf</td>
                        <td class="condIcon"><i class="mdi-action-wallet-membership"></i></td>
                        <td>Only<br>Regulars</td-->
                    </tr>
                </table>
                {{/if}}
            </div>
        </div>
    </div>

    <div id="memberlist" class="list-group">
        {{#if model.canceled}}
        {{else}}
        <div class="list-group-item">
            <div class="row-action-primary row-action-remove-member">
                {{#if inputAddPlayer}}
                <a {{action "focusInput"}} class="btn btn-default btn-fab btn-raised mdi-content-add  btn-success"><div class="ripple-wrapper"></div></a>
                {{else}}
                <a {{action "focusInput"}} class="btn btn-default btn-fab btn-raised mdi-content-add"><div class="ripple-wrapper"></div></a>
                {{/if}}
            </div>
            <div class="row-content">
                <h4 class="list-group-item-heading-input">
                    {{input id="inputAddPlayer" value=inputAddPlayer insert-newline='addPlayer' placeholder="Name" class="form-control" autocomplete="off"}}
                </h4>
            </div>
        </div>
        {{/if}}
        {{#each registrations in sortedList}}
            <div class="list-group-item" {{bind-attr data-registration=registrations.id}}>
                <div class="row-action-primary row-action-remove-member">
                    <a {{action "removeConfirm" registrations.id}} class="btn-removeConfirm btn btn-default btn-fab btn-raised mdi-navigation-check"><div class="ripple-wrapper"></div></a>
                </div>
                <div class="row-action-primary row-action-removed" style="display:none">
                    <a {{action "removePlayer" registrations.id}} class="btn btn-default btn-fab btn-raised mdi-content-remove-circle"><div class="ripple-wrapper"></div></a>
                </div>


                <div class="row-content">
                    <div class="least-content">{{registrations.crdate_dif}}</div>
                    <h4 class="list-group-item-heading removeConfirm" {{action "removeConfirm" registrations.id}}>{{registrations.user}}</h4>
                </div>
            </div>
        {{/each}}
    </div>
</div>
{{outlet 'modal'}}