<div class="navbar navbar-info">
    <div class="navbar-header">
        {{#link-to 'event.item' model.id class="navbar-brand navbar-left"}}
        <i class="mdi-navigation-arrow-back"></i>
        <div class="ripple-wrapper"></div>
        {{/link-to}}
        <span class="navbar-brand navbar-left navbar-full ellipsis">{{model.name}}</span>
    </div>
</div>
<div class="pitch">
    <div class="lineup">
        {{#each sortedList as |registration|}}
            <!-- https://timmyomahony.com/blog/making-draggable-ember-component/ -->
            <div style="top: {{registration.pos_y}}px; left: {{registration.pos_x}}px; position: absolute;"></div>
                {{#tglc-draggable-object content=registration overrideClass='player btn btn-info ellipsis starter ui-draggable ui-draggable-handle' dragEndAction="dragEndAction" clickedAction="clickedAction"}}
                    {{registration.user}}
                {{/tglc-draggable-object}}

        {{/each}}
    </div>
    <img src="/favicons/pitch.svg">
</div>


{{outlet}}
