<div class="navbar navbar-info">
    <div class="navbar-header">
        {{#link-to 'events' class="navbar-brand navbar-left"}}
        <i class="mdi-navigation-arrow-back"></i>
        <div class="ripple-wrapper"></div>
        {{/link-to}}
        <span class="navbar-brand navbar-left">Suggest a Match</span>
    </div>
</div>
<div class="event-detail">
    <div class="well">
    <form class="form-horizontal" {{action "save" on="submit"}}>
        <fieldset>
            <img src="/favicons/navicon.png" class="forminfologo">
            <p><em style="opacity:0.6">This Doodle System was created to enable everyone to share public or private matches with other players.</em></p><br>


            <div class="form-group">
                <label class="col-xs-12 col-md-2 control-label">Create from template:</label>

                <div class="col-xs-12 col-md-10">
                    {{#each templates as |template|}}

                        <button class="use-template btn btn-default btn-raised" {{action "useTemplate" template}}><small>{{template.weekday}} {{template.name}}</small><div class="ripple-wrapper"></div></button>
                    {{/each}}
                </div>

            </div>

            <div class="form-group">
                <label for="inputSubject" class="col-md-2 control-label">Match on next:</label>
                <div class="col-md-10">
                    <div class="input-group">
                        {{tglc-select content=weekdays action=(action (mut model.weekday)) class="form-control form-control-20"}}
                        {{input value=model.name placeholder="19:00 Training" class="form-control form-control-80"}}
                        <span class="input-group-addon"><i class="mdi-notification-event-note"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescription" class="col-md-2 control-label">More info</label>
                <div class="col-md-10">
                    <div class="input-group">
                        {{input value=model.description placeholder="Description" class="form-control"}}
                        <span class="input-group-addon"><i class="mdi-action-description"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputWhere" class="col-md-2 control-label">Where</label>
                <div class="col-md-10">
                    <div class="input-group">
                        {{input value=model.location placeholder="Sportplatz Wiener Straße, Berlin, GERMANY" class="form-control"}}
                        <span class="input-group-addon"><i class="mdi-maps-pin-drop"></i></span>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label for="inputWhere" class="col-xs-2 control-label">Players Needed</label>
                <div class="col-xs-4">
                    <div class="input-group">
                        {{input type="number" value=model.min_att placeholder="8" class="form-control"}}
                        <span class="input-group-addon"><i class="mdi-social-people-outline"></i></span>
                    </div>
                </div>
                <label for="inputWhere" class="col-xs-2 control-label">Max. Players</label>
                <div class="col-xs-4">
                    <div class="input-group">
                        {{input type="number" value=model.max_att placeholder="16"  class="form-control"}}
                        <span class="input-group-addon"><i class="mdi-social-people"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label">Public doodle</label>
                <div class="col-xs-2">
                    <div class="radio radio-primary">
                        <label {{action "setPublic"}}>
                            <a class="pointer"><div class="{{publicClass}}"><div class="ripple-wrapper"></div></div></a>
                            Yes
                        </label>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="radio radio-primary">
                        <label {{action "setPrivate"}}>
                            <a class="pointer"><div class="{{privateClass}}"><div class="ripple-wrapper"></div></div></a>
                            No, only people who receive the direct link to this doodle
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group hidden">
                <label class="col-md-2 control-label">Re-use</label>
                <div class="col-md-10">
                    <div class="radio radio-primary">
                        <label>
                            <a class="pointer">{{input type="checkbox" checked=model.as_template class=toggle}}</a>
                            Save this events settings as a reusable template
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-6">
                    <button class="btn btn-default" {{action "cancel"}}>Cancel</button>
                </div>
                <div class="col-xs-6 right">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
    <p><em style="opacity:0.6"><i class="mdi-content-content-paste"></i> After you created a Doodle, you 'should to' copy the link and invite other players via E-Mail, Facebook or WhatsApp.</em></p>
    </div>
</div>
