<div class="navbar navbar-info">
    <div class="navbar-header">
        <img src="/icons/navicon.png" class="navbar-brand navbar-left">
        {{#link-to 'events' class="navbar-brand navbar-left"}}FCXB Doodle<div class="ripple-wrapper"></div>{{/link-to}}
        {{#link-to 'event.new' class="navbar-brand navbar-right"}}<i class="mdi-content-add-circle-outline"></i>{{/link-to}}
    </div>
</div>
{{outlet}}
<div class="list-group">
    {{#each event in sortedList}}
        {{#if event.id}}
        {{#if event.private}}

            <div class="list-group-item event-private" {{bind-attr data-canceled=event.canceled}}>
                <div class="row-action-primary row-action-added">
                    <h3><center>{{event.registrations.length}}<span class="h3mini">/{{event.max_att}}</span></center></h3>
                </div>


                <div class="row-content">

                    <h4 class="list-group-item-heading ellipsis">{{event.name}}</h4>
                    <p class="list-group-item-text ellipsis">
                        Not public
                    </p>
                </div>
                <div class="progress">
                    <div {{bind-attr class=event.bar_color style=event.bar_width}}></div>
                    <div class="progress-bar progress-bar-danger" {{bind-attr style=event.overbooked_with}}></div>
                </div>
            </div>

        {{else}}
            <div class="list-group-item" {{bind-attr data-canceled=event.canceled}}>
                <div class="row-action-primary row-action-added">
                    <h3><center>{{event.registrations.length}}<span class="h3mini">/{{event.max_att}}</span></center></h3>
                </div>

                {{#link-to 'event.item' event.id}}
                <div class="row-content">
                    <div class="least-content">{{event.evdate_dif}}</div>
                    <h4 class="list-group-item-heading ellipsis">{{event.name}}</h4>
                    <p class="list-group-item-text ellipsis">
                        {{#if event.description}}{{event.description}}{{else}}{{event.evdate_str}}{{/if}}
                    </p>
                </div>
                {{/link-to}}
                <div class="progress">
                    <div {{bind-attr class=event.bar_color style=event.bar_width}}></div>
                    <div class="progress-bar progress-bar-danger" {{bind-attr style=event.overbooked_with}}></div>
                </div>
            </div>
        {{/if}}
        {{/if}}
    {{/each}}
</div>