<div class="navbar navbar-info">
    <div class="navbar-header">
        {{#link-to 'events' class="navbar-brand navbar-left"}}
        <i class="mdi-navigation-arrow-back"></i>
        <div class="ripple-wrapper"></div>
        {{/link-to}}
        <span class="navbar-brand navbar-left ellipsis">THE TALLY</span>
    </div>
</div>

<div class="container">
<table class="table table-striped table-hover">
    <thead>
        <th width="1">#</th>
        <th>Player</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Scored in matches</th>
    </thead>
    <tbody>
        {{#each model as |player|}}
        <tr>
            <td>{{player.id}}</td>
            <td><strong>{{player.user}}</strong></td>
            <td>{{player.goals_total}}</td>
            <td>{{player.assists_total}}</td>
            <td>{{player.scored_in_matches}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>